* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.lorem-text {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
  font-size: 20px;
  align-items: flex-start;
  justify-content: center;
}
